<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="DEV_HOME" value="D:/logger/core_hris/" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/core_hris.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archive/core_hris.log.%d{yyMMddHHmm}</fileNamePattern>
		</rollingPolicy>
		
		<encoder>	
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %msg%n</Pattern>
		</encoder>
		
	</appender>

	<!-- Send logs to both console and file audit -->
	<logger name="com.rilo.hris"> 
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	
</configuration>